input[type=checkbox] {
    border: 2px solid red;
    border-radius: 4px;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
   
    border: none;
	left: 30%;
    cursor: pointer;
    width: 10%;
	text-align: center
}
