input[type=text], input[type=password],input[type=number],input[type=date],input[type=email] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}
label{
text-decoration-color:  #4CAF50;
}
#form1{
  align-self: center;
}
/* Float cancel and signup buttons and add an equal width */
.signupbtn {

    width: 30%;
}
form {

    text-align: center;
    }
/* Add padding to container elements */
.container {
    padding: 16px;
}
.form_field{
  visibility: hidden;
  color : green;
}
/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}


.required1:after { content:" *"; }
